<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title> Input Page </title>

</head>
<body>

<header>Input Page</header>
<br/>
<form action="result" method="GET">


    <label for="statuses">Statuses</label>
    <br/>

    <input type="text" id="statuses" name="statuses"
           placeholder="Input Statuses"/>

    <br/>
    <label for="activity_types">Activity Types</label>
    <br/>

    <input type="text" id="activity_types" name="activity_types"
           placeholder="Input Activity Types"/>

    <br/>
    <br/>


    <input type="submit" />
<!--    value="Submit!"-->
</form>

</body>
</html>