<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="result" method="POST">
    <label for="statuses">Statuses</label>
    <br/>


    <div class="ui fluid multiple search selection dropdown">
        <input type="hidden" id="statuses" name="statuses">
        <i class="dropdown icon"></i>
        <div class="default text">Select statuses</div>
        <div class="menu">
            <div class="item" data-value="SUCCESS">Success</div>
            <div class="item" data-value="FAIL">Fail</div>
            <div class="item" data-value="IN_PROCESS">In progress</div>
        </div>
    </div>

    <label for="activityTypes">Activity types</label>
    <br/>


    <div class="ui fluid multiple search selection dropdown">
        <input type="hidden" id="activityTypes" name="activityTypes">
        <i class="dropdown icon"></i>
        <div class="default text">Select activity types</div>
        <div class="menu">
            <div class="item" data-value="APPLICATION_GEO_BLOCKING_STATUS">APPLICATION_GEO_BLOCKING_STATUS</div>
            <div class="item" data-value="APPLICATION_SOURCE_IP_HEADER_NAME">APPLICATION_SOURCE_IP_HEADER_NAME</div>
            <div class="item" data-value="SSL_DELETE">SSL_DELETE</div>

            <div class="item" data-value="REFINE">REFINE</div>
            <div class="item" data-value="USER_DELETED">USER_DELETED</div>
            <div class="item" data-value="VULNERABILITY_CONFIGURATION">VULNERABILITY_CONFIGURATION</div>

            <div class="item" data-value="APPLICATION_IPV6_CONFIGURATION">APPLICATION_IPV6_CONFIGURATION</div>
            <div class="item" data-value="APPLICATION_UPDATE_ADVANCED_RULES">APPLICATION_UPDATE_ADVANCED_RULES</div>
            <div class="item" data-value="DELETE_CUSTOMER">In DELETE_CUSTOMER</div>







        </div>
    </div>


<!--    <select name="statuses" id="statuses" multiple="" class="ui fluid dropdown">-->
<!--        <option value="">Skills</option>-->
<!--        <option value="SUCCESS">Success</option>-->
<!--        <option value="FAIL">Fail</option>-->
<!--        <option value="IN_PROCESS">In progress</option>-->
<!--    </select>-->

<!--    <div class="ui dropdown">-->
<!--        <input type="hidden" name="gender">-->
<!--        <i class="dropdown icon"></i>-->
<!--        <div class="default text">Gender</div>-->
<!--        <div class="menu">-->
<!--            <div class="item" data-value="male">Male</div>-->
<!--            <div class="item" data-value="female">Female</div>-->
<!--        </div>-->
<!--    </div>-->


    <input type="submit" />

<!--    <div class="ui action input">-->
<!--    -->

<!--        <input type="text" placeholder="Search...">-->
<!--        <button class="ui button">Search</button>-->
<!--    </div>-->
<!--    <label for="statuses">Statuses</label>-->
<!--    <br/>-->

<!--    <input type="text" id="statuses" name="statuses"-->
<!--           placeholder="Input Statuses"/>-->

<!--    <br/>-->
<!--    <label for="activity_types">Activity Types</label>-->
<!--    <br/>-->

<!--    <input type="text" id="activity_types" name="activity_types"-->
<!--           placeholder="Input Activity Typesss2333"/>-->

<!--    <br/>-->
<!--    <br/>-->


<!--    <input type="submit" />-->
</form>








<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/js/semantic.min.js"></script>

<script>
    $('.ui.dropdown')
        .dropdown()
    ;
</script>
</body>
</html>
