<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">

    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            margin: 10px;
            /*padding: 2%;*/
        }
    </style>
</head>
<body>


<form action="result" method="POST" datatype="json">
    <label for="statuses">Statuses</label>
    <br/>

    <div class="ui fluid multiple search selection dropdown" id="first">
        <input type="hidden" id="statuses" name="statuses" >
        <i class="dropdown icon"></i>
        <div class="default text">Select statuses.</div>
        <div class="menu">
            <div th:each="statuses : ${statusesArrayList}" class="item" th:data-value="${statuses}">
                <text th:text="${statuses}"/>
            </div>
        </div>
    </div>

    <br/>

    <label for="activityTypes">Activity types</label>
    <br/>

    <div class="ui fluid multiple search selection dropdown"  id="second">
        <input type="hidden" id="activityTypes" name="activityTypes">
        <i class="dropdown icon"></i>
        <div class="default text">Select activity types. All are selected by default.</div>
        <div class="menu">
            <div th:each="activityTypes : ${activityTypesArrayList}" class="item" th:data-value="${activityTypes}">
                <text th:text="${activityTypes}"/>
            </div>
        </div>
    </div>
    <br/>

    <label for="startDateTime">Start date & time:</label>
    <br/>
    <input type="datetime-local" id="startDateTime" name="startDateTime" value="2018-01-01T00:00">
    <br/>

    <label for="finishDateTime">Finish date & time:</label>
    <br/>
    <input type="datetime-local" id="finishDateTime" name="finishDateTime" value="2022-01-01T00:00">

    <br/>

    <input type="submit" />
</form>


<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="/js/semantic.min.js"></script>

<script>
    $('#first')
        .dropdown({
            placeholder: 'Select statuses.',
            values: [
                {
                    name: 'SUCCESS',
                    value: 'SUCCESS',
                    selected : true
                },
                {
                    name: 'IN_PROCESS',
                    value: 'IN_PROCESS',
                    selected : true
                },
                {
                    name     : 'FAIL',
                    value    : 'FAIL',
                    selected : true
                }
            ]
        })
    ;
</script>

<script>
    $('#second')
        .dropdown()
    ;
</script>
</body>
</html>
