<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/css/inline.css">
    <meta charset="UTF-8">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        const requestURL = 'http://localhost:8080/api/json';
        const request = new XMLHttpRequest();
        request.open('POST', requestURL);
        request.responseType = 'json';
        request.send();
        request.onload = function() {
            let result = request.response;
            customDraw(result);
        }

        function customDraw(jsonMassive) {
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                const data = new google.visualization.DataTable();
                data.addColumn('string', 'statuses');
                data.addColumn('number', 'percent');
                for (i = 0; i < jsonMassive.length; i++)
                    data.addRow([jsonMassive[i]['stName'], jsonMassive[i]['stCount']]);
                const options = {
                    title: 'Statuses'
                };
                const chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);

                const data2 = new google.visualization.DataTable();
                data2.addColumn('string', 'activity_types');
                data2.addColumn('number', 'percent');
                for (y = 0; y < jsonMassive[0]['atList'].length; y++) {
                    data2.addRow([jsonMassive[0]['atList'][y]['atName'], jsonMassive[0]['atList'][y]['atCount']]);
                }
                const options2 = {
                    title: 'Activity_types for' + ' ' + jsonMassive[0]['stName']
                };
                const chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
                chart2.draw(data2, options2);

                const data3 = new google.visualization.DataTable();
                data3.addColumn('string', 'activity_types');
                data3.addColumn('number', 'percent');
                for (y = 0; y < jsonMassive[1]['atList'].length; y++) {
                    data3.addRow([jsonMassive[1]['atList'][y]['atName'], jsonMassive[1]['atList'][y]['atCount']]);
                }
                const options3 = {
                    title: 'Activity_types for' + ' ' + jsonMassive[1]['stName']
                };
                const chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));
                chart3.draw(data3, options3);

                const data4 = new google.visualization.DataTable();
                data4.addColumn('string', 'activity_types');
                data4.addColumn('number', 'percent');
                for (y = 0; y < jsonMassive[2]['atList'].length; y++) {
                    data4.addRow([jsonMassive[2]['atList'][y]['atName'], jsonMassive[2]['atList'][y]['atCount']]);
                }
                const options4 = {
                    title: 'Activity_types for' + ' ' + jsonMassive[2]['stName']
                };
                const chart4 = new google.visualization.PieChart(document.getElementById('piechart4'));
                chart4.draw(data4, options4);

            }
        }

    </script>
</head>
<body>
<div  id="piechart" style="width: 900px; height: 500px;"></div>
<div class="div1" id="piechart2" style="width: 400px; height: 300px;"></div>
<div class="div1" id="piechart3" style="width: 400px; height: 300px;"></div>
<div class="div1" id="piechart4" style="width: 400px; height: 300px;"></div>
<br/>

<a href="/data/home">Create new request</a>
</body>
</html>
